.nosotros{
  margin-top: 90px;
}

.infoo{
  background: linear-gradient(60deg, rgb(58, 166, 233) 0%, rgba(32,128,186,1) 100%);
    
}

.box{    
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
    background-color: white;
  
  }
  
  .box:hover{
    box-shadow: 2px 8px 16px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
    cursor: pointer;
  }
  
  .imagenservicios{
    height: 240px;
    width: 100%;
   border-radius: 5px;
  }

  .wrapper {
    height: 10vh;
    /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .wrapperr {
    height: 10vh;
    /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .typing-demo {
    width: 15ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }
  
  .typing-demos {
    width: 19ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }


  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }


  .comencemos {
    --c: #1095c1;
    line-height: 1.2em;
    background: conic-gradient(from -135deg at 100% 50%, #fff 90deg, #0000 0) 0 var(--p, 0%), conic-gradient(from -135deg at 1.2em 50%, #0000 90deg, #fff 0) 100% var(--p, 0%), var(--c);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: var(--s, 0%) 200%;
    background-repeat: no-repeat;
    color: transparent;
    position: relative;
    transition: 0.4s ease-in, background-position 0s;
  }
  
  .comencemos:before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background: conic-gradient(from -135deg at 100% 50%, var(--c) 90deg, #0000 0) 0 var(--p, 0%), conic-gradient(from -135deg at 1.2em 50%, #0000 90deg, var(--c) 0) 100% var(--p, 0%);
    background-size: inherit;
    background-repeat: no-repeat;
  }
  
  .comencemos:hover {
    --p: 100%;
    /* it should be .6em (1.2em/2) but we use a litte bigger to avoid gaps */
    --s: calc(50% + .61em);
    color: white !important;
  }

  
  .comencemos {
    
    font-size: 3rem;
    cursor: pointer;
    padding: 0 0.07em;
  }

  .boton{
    text-align: center;
  }

  .texto{
    font-size: 2vh;
  }


  @media (max-width: 1200px) {
    .typing-demo {
      font-size:  2.0rem;
    }
    .wrapper{
      margin-top: -50px;
    }
  
  }

  
  @media (max-width: 1200px) {
    .typing-demos {
      font-size: 2.0rem;
    }
  }


  @media (max-width: 900px) {
    .typing-demos {
      font-size: 1.8rem;
    }

  }

  @media (max-width: 1600px){
    .texto{
      font-size: 1.5rem ;
    }
  }
 